provider_installation {
  filesystem_mirror {
    path = "/opt/tofu/provider_mirror"
  }
  # The AWS provider is not mirrored in the image.
  direct {
    include = ["registry.opentofu.org/hashicorp/aws"]
  }
}
